@charset "utf-8";
@import url('http://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: 'android';
    src: url('../fontes/idroid/IDroid.otf') format('opentype');
    font-weight: normal;
}

/*
#c5ebd6
#83e1ad
#3ddc84
#2fa865
#1a5c37
#063d1e
*/

:root {
    --cor0: #ebe5c5;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa865;
    --cor4: #1a5c37;
    --cor5: #063d1e;
    --cor7: #0e2b03;
    --cor9: #022702;
    --cor6: #F2181F;
    --cor8: #E9F500;

    --font-cabecalho: Comic, Sans MS;
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque:'Bebas Neue', cursive;
    --fonte-android: 'Cavolini', cursive; 
    --fonte-texto: 'Calibri', Light Italic;
    --fonte-texto-novo: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

*{
    margin: 0px;
    padding: 0px;
}
body {
    background-color: var(--cor4);
    font-family: var(--fonte-padrao);
    color: var(--cor0);
    min-width: 300px;
    max-width: 800ch;
    margin: auto;
}
#container{
    margin-left: 17px;
    margin-top: 5px;
    width: 97%;
    height: auto;
    padding-left: 1px;
    display: block;
    justify-content: space-between;
    background: var(--cor5);
    color: var(--cor0);
    font-family: var(--fonte-texto-novo);
    justify-content: center;
}
#licoes  #tpd{
    font-size: 1.2rem;
    margin: 1px;
    text-align: center;
    background-color: var(--cor2);
    padding: 1px;
    border-radius: 0.2rem;
    width: 78%;
    font-style: italic;
    background: linear-gradient(90deg, var(--cor5) 0%, var(--cor2) 35%, var(--cor7) 100%);
    text-shadow: 1px 1px 3px var(--cor9), 0 0 25px var(--cor1), 0 0 5px var(--cor8);
}
#licoes{
    margin: 3px;
    width: 60%;
    height: 50%;
    display: block;
    justify-content: center;
}
#licoes .tema{
    display: inline-table;
    margin: 0.1rem;
    border-radius: 2px;
    width: 25%;
    height: 16rem;
    padding: 0px;
    text-indent: 5px;
    border: solid 2px var(--cor1);

}
#container #licoes .tema ul li a:hover{
    font-size: 15px;
    cursor: pointer;
    background: var(--cor1);
    color: var(--cor9);
    border-radius: 3px;
    transition: all 1s;
}

#licoes .tema h4{
    background: linear-gradient(90deg, var(--cor5) 0%, var(--cor2) 35%, var(--cor7) 100%);
    width: 99%;
    height: 1.5rem;
    font-style: italic;
    text-align: center;
    border-radius: 2px;
    margin-left: 1px; 
}
#licoes .tema img{
    margin: auto;
    width: 195px;
    height: 115px;
}
#licoes .tema ul li {
    list-style-type: '\2714\00a0\00a0';
    list-style-position: inside;
}
#licoes .tema ul li a{
    font-size: 10px;
    color: var(--cor0);
    margin: 0;
    text-decoration: none;
}

#videos{
    width: 17.5%;
    height: 20rem;
    text-indent: 5px;
    margin-top: 1rem;
    margin-left: 15px;
 }
 #videos #iframe{
    display: block;
    width: 20%;
    margin-top: -17rem;
    margin-left: 12rem;
 }
 .tt-cl{
    padding-top: 5px;
    background: linear-gradient(90deg, var(--cor5) 0%, var(--cor2) 35%, var(--cor7) 100%);
    width: auto;
 }
 #iframe h4{
    background: linear-gradient(90deg, var(--cor5) 0%, var(--cor2) 35%, var(--cor7) 100%);
    font-style: italic;
    font-size: 16px;
    margin-left: 2px;
    margin-top: 0.1rem;
    width: 30vw;
 }

 #videos ul li a{
   text-decoration: none;
    color: var(--cor0);
}
#videos ul li {
    list-style-type: '\2714\00a0\00a0';
    list-style-position: inside;
    font-size: 15px;
}
#videos ul li a:hover{
    font-size: 19px;
    cursor: pointer;
    background: var(--cor1);
    color: var(--cor9);
    border-radius: 3px;
    transition: all 1s;
}
#videos  iframe{
    width: 30vw;
    height: 35.8vh;
    margin: 2px 2px;
    border: solid 2px var(--cor1);
 }

/*detalhe*/
main{
    width: 100%;
    height: auto;
}
#detalhe{
    float: left;
    margin-top: -99.9vw;
    margin-right: 3px;
    margin-left: 39rem;
    width: 50%;
    height: 78.5rem;
    
}
#detalhe ul{
    border: solid 2px var(--cor1);
}
#detalhe ul li{
    list-style-type: '\2714\00a0\00a0';
    list-style-position: inside;
}
#detalhe ul li a{
    color: var(--cor0);
    text-decoration: none;
    font-size: 13px;
}
#detalhe .lateral ul li a:hover{
    font-size: 1.1rem;
    background-color: var(--cor9);
    transition-duration: .10s;
    transition-delay: .10s;
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px var(--cor8);
    transition: transform .5s, border 2s;
    transition: all 1s;
}
#detalhe #biblioteca ul li a:hover{
    font-size: 1.1rem;
    background-color: var(--cor9);
    transition-duration: .10s;
    transition-delay: .10s;
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px var(--cor8);
    transition: transform .5s, border 2s;
    transition: all 1s;
}
#lateral-est ul li a:hover{
    font-size: 1.1rem;
    background-color: var(--cor9);
    transition-duration: .10s;
    transition-delay: .10s;
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px var(--cor8);
    transition: transform .5s, border 2s;
    transition: all 1s;
}
.est-lat {
    width: 99%;
    height: auto;
    margin-bottom: 3px;
}
.titulo-lateral{
    margin: 3px 0px;
    width: auto;
    text-align: center;
    font-style: italic;
    background: linear-gradient(90deg, var(--cor5) 0%, var(--cor2) 35%, var(--cor7) 100%);
    text-shadow: 1px 1px 3px var(--cor9), 0 0 25px var(--cor1), 0 0 5px var(--cor8);
}
#tt-est{
    margin-bottom: 5px;
    text-align: center;
    font-style: italic;
    background: linear-gradient(90deg, var(--cor5) 0%, var(--cor2) 35%, var(--cor7) 100%);
    text-shadow: 1px 1px 3px var(--cor9), 0 0 25px var(--cor1), 0 0 5px var(--cor8);
}
.tema1{
    font-size: 20px;
    margin: 4px 1px;
    width: auto;
    text-align: center;
    font-style: italic;
    background: linear-gradient(90deg, var(--cor5) 0%, var(--cor2) 35%, var(--cor7) 100%);
    text-shadow: 1px 1px 3px var(--cor9), 0 0 25px var(--cor1), 0 0 5px var(--cor8);
}

/*Lateral*/

#noticias{
    display: flex;
    margin-left: 39rem;
    margin-top: -7.7rem;
    margin-right: 20.2px;
    width: 50%;
    height: 17vh;
   
}
#noticias #cultos {
    margin: 1px;
    width: 100%;
    height: 15vh;
    font-size: 12px; 
    border-radius: 3px; 
    border: solid 2px var(--cor1);

}
#noticias #cultos ul li {
    list-style-type: '\2714\00a0\00a0';
    list-style-position: inside;
}
#noticias #eventos{
    margin: 1px;
    width: 50rem;
    height: 15vh;
    font-size: 12px;   
    border-radius: 3px;  
    border: solid 2px var(--cor1);    
}
#noticias #localizacao{
    margin: 1px;
    width: 30rem;
    height: 15vh;
    font-size: 12px;
    border-radius: 3px; 
    border: solid 2px var(--cor1);

}
#noticias #eventos ul li{
    list-style-type: '\2714\00a0\00a0';
    list-style-position: inside;
}
#noticias #localizacao p a{
    margin-left: 2px;
    color: var(--cor0);
    font-size: 12px;
}
.tt-not{
    font-size: 1rem;
    width: 99%;
    text-align: right;
    background: linear-gradient(90deg, var(--cor5) 0%, var(--cor2) 35%, var(--cor7) 100%);
}

@media ((max-width: 800px)) {
    #tpd{
        width: 95%;
    }
    #container #licoes{
        display: block;
        width: auto;
        height: auto;
        margin-top: 0.2rem;

    }    
    #container {
        width: auto;
    }
    #container #licoes .tema .img{
        margin-top: 2px;
        margin-left: 2px;
        width: 123px;
        height: 90px;
    }
  #licoes .tema{
    width: 100%;
    height: auto;
    margin: 2PX;
    }
    #detalhe .lateral .titulo-lateral{
        color: var(--cor0);
        font-family: var(--fonte-padrao);
        font-weight: bold;
        width: 95%;
        background: linear-gradient(45deg, var(--cor3) 10%, var(--cor9));
        text-indent: 8px;
        text-align: center;
        margin-left: 3px;
        margin-bottom: 2px;
        border-radius: 5px;
}
#videos #tt-edit{
    display: block;
}
#detalhe{
    width: auto;
    margin-top: 3.7rem;
    margin-left: -4rem;
}
@media ((max-width: 320px)) {
    body{
        width: 100px;
    }
    #licoes #tpd{
        font-size: 15px;
        width: 100%;
        list-style: none;
    }
    .tema .tt-cl{
        font-size: 0.8rem;
        float: left;
        text-align: left;
        width: 95%;
        margin-left: 5px;
    }
    #lateral #tituloOn{
        font-size: 15px;
        width: 100%;
        list-style: none;
    }
    #container{
        width: 100%;
        height: auto;
        margin: 0.1rem;
        display: block;
    }
    #container #licoes{
        margin: auto;
        width: 100%;
        height: auto;
        display: block;
    }
  #licoes .tema{
        display: inline-block;
        padding: 0px;
        width: 45%;
        margin: 2px 0PX;
        height: auto;

    }
     #licoes .img{
        margin-top: 2px;
        margin-left: -2px;
        width: 49px;
        height: 30px;
    }
    #videos{
        margin-top: 0.8rem;
        margin-left: 1px;
        border-bottom: 2px;
        width: 17rem;
        height: 98vh;
    }
    #videos ul li {
        font-size: 12px;
    }
    #videos h4{
        margin-top: 13px;
    }
     #videos iframe{
        margin-top: 5px;
        margin-left: 5px;
        display: block;
        width: 88vw;
        height: 21.2vh;

     }
     #videos #video1{
        margin-left: 7px;
     }

    #detalhe{
        width: 50%;
        height: auto;
        margin-top: -4rem;
        margin-left: 3px;
        font-size: 12px;
    }
    #detalhe h2{
        font-size: 15px;
        width: 99%;
        list-style: none;
    }
    #detalhe .est-lat{
        width: 95%;
        margin-left: 25px;
    }
    #detalhe .titulo-lateral{
        color: var(--cor0);
        font-family: var(--fonte-padrao);
        font-weight: bold;
        font-size: 15px;
        width: 98%;
        list-style: none;
        background: linear-gradient(45deg, var(--cor3) 10%, var(--cor9));
        text-indent: 8px;
        text-align: center;
        margin-left: 5px;
        margin-bottom: 2px;
        border-radius: 2px;
    }
    #detalhe ul li a{
        font-size: 10px;
        margin-left: 5px;
    }
    #detalhe #biblioteca{
        width: 99%;
    }
    #noticias{
        display: block;
        float: left;
        margin-left: 3px;
        margin-top: 3px;
        width: 97%;
        height: auto;
    }
    #noticias #cultos{
        margin-top: 2px;
        width: 96%;
        height: auto;
    }
    #noticias #eventos{
        margin-top: 2px;
        width: 96%;
        height: auto;
    }
    #noticias ul li{
        font-size: 12px;
        width: 96%;
    }
    #noticias #localizacao{
        margin-top: 2px;
        width: 96%;
        height: auto;
    }
}
}