@charset "utf-8";
@import url('http://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: 'android';
    src: url('../fontes/idroid/IDroid.otf') format('opentype');
    font-weight: normal;
}

/*
#c5ebd6
#83e1ad
#3ddc84
#2fa865
#1a5c37
#063d1e
*/

:root {
    --cor0: #ebe5c5;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa865;
    --cor4: #1a5c37;
    --cor5: #063d1e;
    --cor7: #0e2b03;
    --cor9: #022702;
    --cor6: #F2181F;
    --cor8: #E9F500;


    --cor19: #b34100;
    --cor10: #fd8e4e;
    --cor11: #723410;
    --cor12: #090807;
   

    --font-cabecalho: Comic, Sans MS;
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque:'Bebas Neue', cursive;
    --fonte-android: 'Cavolini', cursive; 
    --fonte-texto: 'Calibri', Light Italic;
    --fonte-texto-novo: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


/*
Tipical Device  BreakPoint
Pequenas Telas: de 600px;
Celular: 600px até 768px;
Tablet: 600px até 992px;
Desktop: 768 até 1200px;
Grandes telas: acima d 1200px  
*/
/*
@media ((max-width: 800px)) {
        #tpd{
        width: 95%;
    }
    #container {
        width: 99%;
    }
    #container .corpo{
        display: block;
        width: 95%;
        height: auto;
        margin-top: auto;
        margin-top: 0.1rem;

    } 
    #container .corpo #licoes .tema{
    width: 100%;
    height: auto;
    margin: 2PX;
    }
    #container #licoes .tema .img{
        margin-top: 2px;
        margin-left: 2px;
        width: 50vw;
        height: 90px;
    }
    #detalhe .lateral .titulo-lateral{
        color: var(--cor0);
        font-family: var(--fonte-padrao);
        font-weight: bold;
        width: 95%;
        background: linear-gradient(45deg, var(--cor3) 10%, var(--cor9));
        text-indent: 8px;
        text-align: center;
        margin-left: 3px;
        margin-bottom: 2px;
        border-radius: 5px;
    }
#videos #tt-edit{
    display: block;
    }
#estudos{
    width: auto;
    margin-top: 3.7rem;
    margin-left: -4rem;
    }  
}
-------------------------------------------------------------------
*/
@media screen and (min-width: 678px) and (max-width: 992px){
 label[for="btn_menu"]{
        display: block;
       margin: 5px;
    }
    #btn_menu:checked ~ .menu{
     margin-left: 0;
    }
    #titulo #logo2{
        margin: auto;
        margin-top: 10px;
        width: 10vw;
        height: 10vh;
    }
    #titulo{
        margin-top: -60px;
        margin-bottom: 35px;
        display: block;
    }
    #titulo #titulo-pg{
        margin: auto;
        margin-left: -20px;
            font-family: var(--font-cabecalho);
            font-size: 0.8em;
            border: solid 1px var(--cor2);

    }
    #titulo .social-menu{
        margin: auto;
        margin-top: 1.2em;
        text-indent: 2px;
        }
    body #container{
        margin-left: 1px;
        
    }
    #container .corpo2022{
       
        border: none;
        display: inline-block;
        margin-left: 5px;
        
    }
    #container .corpo2022 #tpd2022{
        font-size: 1em;
        margin: auto;
        margin-left: 0.1em;
        width: 17.5em;
        list-style: none;
    }

    #container .corpo2022 #licoes2022{
        margin: 1px;
        width: 19em;
        border: none;
        display: inline-block;
        flex-flow: row wrap;
        justify-content: space-between;
      
    }
    #container .corpo2022 #licoes2022 .tema2022 .tt-cl{
        font-size: 0.8em;
        width: 97%;
        height: 3vh;
        padding-top: 1px;
    }

    #container .corpo2022 #licoes2022 .tema2022{
        padding: 1px;
        width: 8.3em;
        height: 35vh;
        margin: auto;
        display: inline-block;
    }
    #container .corpo2022 #licoes2022 .img{
        margin-top: 2px;
        margin-left: 2px;
        width: 8em;
        height: 5em;
       
    }
/*--------------2023----------------------*/
    body #container2023{
        margin-left: 1px;
    }

    #container2023 .corpo2023{
    
        border: none;
        display: inline-block;
        margin-left: 8px;
        border-radius: 3px;
        
    }
    #container2023 .corpo2023 #tpd2023{
        font-size: 1em;
        width: 17.5em;
        list-style: none;
    }
    #container2023 .corpo2023 #licoes2023{
        margin: 1px;
        width: 19em;
        height: a;
        border: none;
        display: inline-block;
        flex-flow: row wrap;
        justify-content: space-between;

    }
    #container2023 .corpo2023 #licoes2023 .tema2023 .tt-cl2023{
        font-size: 0.8em;
        width: 97%;
        height: 3vh;
        padding-top: 1px;
    }
    #container2023 .corpo2023 #licoes2023 .tema2023{
       padding: 1px;
        width: 8.3em;
        height: 35vh;
        margin: auto;
        display: inline-block;

    }
    #container2023 .corpo2023 #licoes2023 .img{
        margin-top: 2px;
        margin-left: 2px;
        width: 8em;
        height: 5em;
       
    }
    /*--------------------estudos---------------*/
    #lateral #estudos{
        width: 25em;
        height: auto;
        margin-top: 0;
        margin-left: 0.1em;
        font-size: 12px;
    }
    #lateral #estudos #tt-est{
        margin-top: 0;
        font-size: 15px;
        width: 95%;
    }
    #lateral #estudos .est-lat{
        width: 95%;
        margin-left: 0.2em;
    }
    #lateral #estudos .titulo-lateral{
        color: var(--cor0);
        font-family: var(--fonte-padrao);
        font-weight: bold;
        font-size: 12px;
        width: 98%;
        list-style: none;
        background: linear-gradient(45deg, var(--cor3) 10%, var(--cor9));
        text-indent: 8px;
        text-align: center;
        margin-left: 5px;
        margin-bottom: 2px;
        border-radius: 2px;
    }
    #lateral #estudos ul li a{
        font-size: 10px;
        margin-left: 5px;
    }
    #estudos #biblioteca{
        width: 99%;
    }
    #lateral #estudos ul li a:hover{
        background-color: var(--cor1);
        font-size: 12px;
        color: var(--cor12);
        font-style: italic;
    }
    /*-------------------videos--------------------*/
    #tituloOn{
        font-size: 15px;
        width: 99%;
        list-style: none;
    }
    #videos{
        margin-top: 1em;
        margin-left: 1px;
        width: 19rem;
        height: 90vh;
    }
    #videos h4{
        margin-top: 1px;
        margin-left: 2px;
 
        border-radius: 3px;
    }
     #videos iframe{
        margin-top: 5px;
        margin-left: 5px;
        display: block;
        width: 91vw;
        height: 38.2vh;

     }
    #temas-video-aulas{
        margin: auto;
        margin-top: 0.1em;
        margin-left: 1px;
        width: 18.2em;
    }
    #temas-video-aulas ol{
        font-size: 12px;
        margin-left: 3px;
    
    }
    #temas-video-aulas ol li a{
        font-size: 12px;
    }
    /*----------------noticias-----------------*/
    #noticias{
        display: block;
        margin-left: -0.2em;
        margin-top: 33.4em;
        width: 18.5em;
        height: auto;
        border: none;
    }
    #noticias #cultos{
        margin-top: 2px;
        width: 96%;
        height: auto;
    }
    #noticias #eventos{
        margin-top: 2px;
        width: 96%;
        height: auto;
    }
    #noticias ul li{
        font-size: 12px;
        width: 96%;
    }
    #noticias #localizacao{
        margin-top: 2px;
        width: 96%;
        height: auto;
    }
    footer{
        width: 18.5em;
    }
    footer #retornar{
        display: none;
    }
}
/*-----------------------------------------------------------------*/
@media screen and (min-width: 320px) and (max-width: 678px) {

    label[for="btn_menu"]{
        display: block;
       margin: 5px;
    }
    #btn_menu:checked ~ .menu{
     margin-left: 0;
    }
    #titulo #logo2{
        margin: auto;
        margin-top: -15px;
        width: 10vw;
        height: 10vh;
    }
    #titulo{
        margin-top: -60px;
        margin-bottom: 35px;
        display: block;
    }
    #titulo #titulo-pg{
        margin: auto;
        margin-left: -15px;
            font-family: var(--font-cabecalho);
            font-size: 0.7em;

    }
    #titulo .social-menu ul li {
        margin: 2px;
        text-indent: 3px;
        }
    #titulo .social-menu li a{
        margin: 2px;
        margin-top: 3.9em;
        text-indent: 3px;
        }
    body #container{
        margin-left: 1px;
        width: 21.5em;
        
    }
    #container .corpo2022{
        border: none;
        display: inline-block;
        width: 21em;
        margin-left: 1px;
        
    }
    #container .corpo2022 #tpd2022{
        font-size: 1em;
        margin: auto;
        margin-left: 0.1em;
        width: 17.5em;
        list-style: none;
    }

    #container .corpo2022 #licoes2022{
        margin: 1px;
        width: 21.2em;
        height: auto;
        border: none;
        display: inline-block;
        flex-flow: row wrap;
      
    }
    #container .corpo2022 #licoes2022 .tema2022 .tt-cl{
        font-size: 0.8em;
        width: 97%;
        height: 3vh;
        padding-top: 1px;
    }

    #container .corpo2022 #licoes2022 .tema2022{
        margin: auto;
        margin-bottom: 2px;
        width: 10.2em;
        height: 31.2vh;
        display: inline-block;
    }
    #container .corpo2022 #licoes2022 .img{
        margin-top: 2px;
        margin-left: 2px;
        width: 9.8em;
        height: 5em;
       
    }
/*--------------2023----------------------*/
    body #container2023{
        margin-left: 1px;
        width: 21.5em;
    }

    #container2023 .corpo2023{
        width: 21em;
        border: none;
        display: inline-block;
        margin-left: 8px;
        border-radius: 3px;
        
    }
    #container2023 .corpo2023 #tpd2023{
        font-size: 1em;
        width: 17.5em;
        list-style: none;
    }
    #container2023 .corpo2023 #licoes2023{
        margin: 1px;
        width: 21em;
        height: auto;
        border: none;
        display: inline-block;
        flex-flow: row wrap;
        justify-content: space-between;


    }
    #container2023 .corpo2023 #licoes2023 .tema2023 .tt-cl2023{
        font-size: 0.8em;
        width: 12.3em;
        height: 3vh;
        padding-top: 1px;
    }
    #container2023 .corpo2023 #licoes2023 .tema2023{
       padding: 1px;
        width: 9.8em;
        height: 32.5vh;
        margin: auto;
        margin-bottom: 2px;
        display: inline-block;

    }
    #container2023 .corpo2023 #licoes2023 .img{
        margin-top: 2px;
        margin-left: 2px;
        width: 9.7em;
        height: 6em;
       
    }
    /*--------------------estudos---------------*/
    #lateral #estudos{
        width: 30em;
        height: auto;
        margin-top: 0.2em;
        margin-left: 2px;
        font-size: 12px;
    }
    #lateral #estudos #tt-est{
        margin-top: 0;
        font-size: 15px;
        width: 95%;
    }
    #lateral #estudos .est-lat{
        width: 95%;
        margin-left: 0.2em;
    }
    #lateral #estudos .titulo-lateral{
        color: var(--cor0);
        font-family: var(--fonte-padrao);
        font-weight: bold;
        font-size: 12px;
        width: 98%;
        list-style: none;
        background: linear-gradient(45deg, var(--cor3) 10%, var(--cor9));
        text-indent: 8px;
        text-align: center;
        margin-left: 5px;
        margin-bottom: 2px;
        border-radius: 2px;
    }
    #lateral #estudos ul li a{
        font-size: 12px;
        margin-left: 5px;
    }
    #estudos #biblioteca{
        width: 99%;
    }
    #lateral #estudos ul li a:hover{
        background-color: var(--cor1);
        font-size: 12px;
        color: var(--cor12);
        font-style: italic;
    }
    /*-------------------videos--------------------*/
    
    #videos{
        margin-top: 25.9em;
        margin-left: 1px;
        width: 19rem;
        height: 90vh;
    }
    #videos #tituloOn{
        font-size: 15px;
        width: 23em;
        list-style: none;
        margin-top: 1px;
        margin-left: 5px;
        border-radius: 3px;
    }
     #videos iframe{
        margin-top: 5px;
        margin-left: 5px;
        display: block;
        width: 91vw;
        height: 38.2vh;

     }
    #temas-video-aulas{
        margin: auto;
        margin-top: 0.1em;
        margin-left: 1px;
        width: 22.2em;
    }
    #temas-video-aulas ol{
        font-size: 12px;
        margin-left: 3px;
    
    }
    #temas-video-aulas ol li a{
        font-size: 12px;
    }
    /*----------------noticias-----------------*/
    #noticias{
        display: block;
        margin-left: 10px;
        margin-top: 75px;
        width: 22em;
        height: auto;
        border: none;
    }
    #noticias #cultos{
        margin-top: 2px;
        width: 96%;
        height: auto;
    }
    #noticias #eventos{
        margin-top: 2px;
        width: 96%;
        height: auto;
    }
    #noticias ul li{
        font-size: 12px;
        width: 96%;
    }
    #noticias #localizacao{
        margin-top: 2px;
        width: 96%;
        height: auto;
    }
    footer{
        width: 22em;
    }
    footer #retornar{
        display: none;
    }
}