@charset "utf-8";
@import url('http://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: 'android';
    src: url('../fontes/idroid/IDroid.otf') format('opentype');
    font-weight: normal;
}

/*
#c5ebd6
#83e1ad
#3ddc84
#2fa865
#1a5c37
#063d1e
*/

:root {
    --cor0: #ebe5c5;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa865;
    --cor4: #1a5c37;
    --cor5: #063d1e;
    --cor7: #0e2b03;
    --cor9: #022702;
    --cor6: #F2181F;
    --cor8: #E9F500;

    --font-cabecalho: Comic, Sans MS;
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque:'Bebas Neue', cursive;
    --fonte-android: 'Cavolini', cursive; 
    --fonte-texto: 'Calibri', Light Italic;
    --fonte-texto-novo: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
*{
    margin: 0px;
    padding: 0px;
}
body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
    min-width: 300px;
    max-width: 900ch;
    margin: auto;
}
    a.externo::after{
        content: '\00a0\1F517';
        font-size: 15px;
        cursor: pointer;
        background: var(--cor5);
        color: var(--cor9);
        border-radius: 3px;
        transition: all 1s;
    }
main{
       width: 97%;
        padding: 1px;
        border-bottom-right-radius: 10px;
        border: solid 2px var(--cor1);
        flex-direction: row;
        margin: auto;
        margin-top: 3px;
        justify-content: space-between;
        background: var(--cor5);
        color: var(--cor0);
        font-family: var(--fonte-texto-novo);
        
    }
    .tt-cab{
        color: var(--cor0);
        font-family: var(--fonte-padrao);
        font-weight: normal;
        font-size: 1.3em;
        background: linear-gradient(45deg, var(--cor3) 10%, var(--cor9));
        border: solid 2px var(--cor1);
        text-indent: 1px;
        text-align: center;
        margin-bottom: 1px;
        border-radius: 5px;
    }
main article h1{
        color: var(--cor0);
        font-family: var(--fonte-padrao);
        font-weight: normal;
        font-size: 1.5em;
        background: linear-gradient(45deg, var(--cor3) 10%, var(--cor9));
        text-indent: 1px;
        text-align: center;
        margin-bottom: 1px;
        

    }
    main article h2 {
        color: var(--cor0);
        font-family: var(--fonte-Android);
        font-size: 1.5em;
        background: linear-gradient(45deg, var(--cor3) 10%, var(--cor9));
        text-indent: 1px;
        font-weight: normal;
        margin-bottom: 2px;
        border-radius: 5px;
        text-align: center;
        
    }
main article h3{
    color: var(--cor0);
    font-family: var(--fonte-texto-novo);
    font-size: 1.1em;
    text-indent: 1px;
    font-weight: normal;
    border-radius: 5px;
    text-align: center;
    background: linear-gradient(45deg, var(--cor3) 10%, var(--cor9));
    
}
main article h4{
    color: var(--cor0);
    font-family: var(--fonte-texto-novo);
    background: linear-gradient(45deg, var(--cor3) 10%, var(--cor9));
    font-size: 0.9em;
    text-indent: 1px;
    font-weight: normal;
    border-radius: 2px;
    text-align: right;
    margin-top: 2px;
    height: auto;
}
#plano-aula{
    float: left;
    width: 30%;
    margin-left: 0px;
}
main strong{
   font-weight: bold;
    color: var(--cor8);
    font-size: larger;
}
main a{
    text-decoration: none;
    font-weight: bold;
    color: var(--cor4);
    background-color: var(--cor2);
    padding: var(--cor4);
}
main  a:hover{
    text-decoration: underline;
    font-size: 15px;
    cursor: pointer;
    background: var(--cor1);
    color: var(--cor9);
    border-radius: 3px;
    transition: all 1s;
}
main abbr{
    font-weight: bold;
    color: var(--cor5);
}
#container p{
    color: var(--cor0);
    margin: 5px 0px;
    text-align: justify;
    text-indent: 30px;
}

#licoes ul li a {
    margin-left: 1px;
    text-decoration: none;
    background: none;
    color: var(--cor0);
}
#licoes ul li a:hover {
    font-size: 15px;
    cursor: pointer;
    background: var(--cor1);
    color: var(--cor9);
    border-radius: 3px;
    transition: all 1s;

}
#licoes ul{
    list-style-type: '\2714\00a0\00a0';
    list-style-position: inside;
}
#capa-lic{
   margin: 2px;
    float:right;
    width: 230px;
    height: 18vh;
}
#texto-aureo{
    color: var(--cor1);
    font-size: 15px;
    margin-top: 5px;
    margin-left: 2px;
    padding: 5px;
    width: 60%;
    height: auto;
    text-align: center;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    border: solid 2px var(--cor8);
}
#texto-aureo a{
    color: var(--cor2);
}
#vdd-pratica{
    color: var(--cor2);
    font-size: 15px;
    margin-top: 5px;
    margin-left: 0px;
    padding: 5px;
    padding-bottom: 5px;
    width: 65%;
    height: auto;
    text-align: center;
    border-radius: 50px;
    border: solid 2px var(--cor8);
}
#ta-vdd-prt {
    width: auto;
    display: flex;
    padding-right: 5px;
    padding-left: 5px;

}
#leitura-diaria{
    color: var(--cor0);
    font-size: 15px;
    margin-top: 5px;
    margin-left: 2px;
    margin-bottom: 2px;
    padding-top: 2px;
    padding-left: 15px;
    padding-right: 10px;
    padding-bottom: 2px;
    width: 97%;
    height: auto;
    border-radius: 10px 40px 10px 40px;
}
#leitura-diaria ul{
    padding: 0;
    margin-top: 5px;
}
#leitura-diaria ul li{
    margin: 0;
    padding: 0;
    list-style-type: '\2714\00a0\00a0';
    list-style-position: inside;
}
#leitura-diaria ul li strong{
    color: var(--cor0);
    font-size: 15px;
   
}
#ld {
    display: block;
    background: linear-gradient(90deg, var(--cor5) 0%, var(--cor2) 35%, var(--cor7) 100%);
    text-shadow: 1px 1px 3px var(--cor9), 0 0 25px var(--cor1), 0 0 5px var(--cor8);
    color: #E9F500;
    margin-left: -14px;
    margin-top: 0px;
    margin-bottom: 0;
    width: 104.8%;
    height: 25px;
    padding: 0px;
    font-size: 20px;
    font-weight: bolder;
}
.tt-topico{
    background: linear-gradient(90deg, var(--cor5) 0%, var(--cor2) 35%, var(--cor7) 100%);
    text-shadow: 1px 1px 3px var(--cor9), 0 0 25px var(--cor1), 0 0 5px var(--cor8);
    font-size: 1.rem;
    color: var(--cor8);
    width: 99%;
    margin-left: 0.7rem;
}
#tt-vp{
    background: linear-gradient(90deg, var(--cor5) 0%, var(--cor2) 35%, var(--cor7) 100%);
    text-shadow: 1px 1px 3px var(--cor9), 0 0 25px var(--cor1), 0 0 5px var(--cor8);
    font-size: 1.rem;
    color: var(--cor8);
    width: 92.5%;
    margin-left: 1.6rem;
    border-radius: -5px;
}
#img-ld{
    margin-top: 5px;
    padding-top: 5px;
    float: right;
    width: 180px;
    height: 120px;
}
#leitura-classe{
    display: felx;
    color: var(--cor0);
    font-size: 15px;
    margin-top: 5px;
    margin-left: 0px;
    margin-bottom: 2px;
    padding-top: 5px;
    padding-left: 2px;
   padding: 0;
    width: 98%;
    height: auto;
    border-radius: 10px 20px 10px 20px;
    background: var(--cor5);
}
#leitura-classe #lc p{
    display: block;
    margin-top: 15px ;
}
#lc{
    display: block;
    background: linear-gradient(45deg, var(--cor3) 10%, var(--cor9));
    color: #E9F500;
    margin-left: -1px;
    margin-top: -4px;
    width: 100%;
    height: auto;
    font-size: 20px;
    padding-right: 3px;
    font-weight: bolder;
    border-radius: 6px 5px 2px 5px;    
    }
#hino{
  border-radius: 10px 5px 10px;
  background: var(--cor5);
  padding: 2px 0px;
  width: 50%;
  margin-bottom: 5px;
  font-family: var(--fonte-texto-novo);
  border: solid 2px var(--cor8);

}
#hino p strong{
    color: var(--cor0);

}
#hino p{
    font-size: 15px;
    text-align: center;

}
#hino a{
    color: var(--cor1);
}
#img-lc{
    margin-top: 5px;
    padding-bottom: 1px;
    float:right;
    width: 190px;
    height: auto;

}
#objetivos{
    padding-top: 5px;
    margin-top: 2px;
    margin-left: 0px;
    display: block;
    width: auto;
    height: auto;
    padding-top: 0px;
}
#objetivos ol{
    color: var(--cor0);
    font-size: 15px;
    margin-top: 15px;
    margin-left: 2px;
    margin-bottom: 25px;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 10px;
    padding-bottom: 15px;
    width: 80%;
    height: auto;
    border-radius: 10px 10px;
    background: var(--cor7);
}
#objetivos h2{
    border-radius: 2px 2px;
    width: auto;
    height: auto;
    margin-top: 5px;
    padding-left: 5;
    margin-left: 2px;
}
main a{
    background: none;
}
#leitura-diaria a{
    background: none;
    color: var(--cor1);
}
#leitura-classe a{
    color: var(--cor2);
}
#introducao{
    font-size: 15px;
    font-family: var(--fonte-texto-novo);
    width: auto;
    display: block;

}

#plv-chave{
    border-radius: 5px 25px;
    background: var(--cor5);
    color: var(--cor0);
    margin-top: 10px;
    margin-bottom: 10px;
    height: auto;
    width: 50%;
    padding-left: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 15px;
    border: solid 1px var(--cor8);

}
#plv-chave h2 {
    text-align: center;
    color: var(--cor0);
    background: none;
}
#plv-chave p {
    text-align: center;
    font-size: 15px;
    margin: auto;
    color: var(--cor0);
    background: none;
}
#topico-1{
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: auto;
    display: block;
}
#topico-2{
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: auto;
    display: block;
}
#topico-3{
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: auto;
    display: block;
}
#topico-4{
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: auto;
    display: block;
}
#conclusao{
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: auto;

}
#vocab {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 99%;
    height: auto;
    padding-left: 10px;
    border-radius: 10px 10px;
    color: var(--cor9);
    list-style-type: '\2714\00a0\00a0';
    list-style-position: inside;
}
#vocab ul li{
    color: var(--cor0);
}
#revis-conteudo{
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: auto;
}
#sinopse-1 {
    border-radius: 5px 25px;
    background: var(--cor2);
    margin-top: 10px;
    margin-bottom: 10px;
    height: auto;
    width: 50%;
    padding-left: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1rem;
 

}
#sinopse-1 h3 {
    background: none;
    color: var(--cor5);
}
#sinopse-1 p{
    width: 95%;
    padding-left: 5px;
    list-style-type: '\2714\00a0\00a0';
    list-style-position: inside;
    color: var(--cor9);
}
#sinopse-1 strong{
    color: var(--cor0);
}
#tpd {
    width: 780px;
   margin: 0;
}

#container .img{
    float: right;
    width: 250px;
    height: 150px;
}
#capa{
    float: right;
    width: 190px;
    height: 210px;
}
a.externo {
    text-decoration: underline;
    color: var(--cor1);
}

main li a{
    font-size: 14px;
    background-color: var(--cor0);
}
article > ul li{
    list-style-type: '\2714\00a0\00a0';
    list-style-position: inside;
    top:10px;
    font-size: 13px;
}
article ul{
    margin-bottom: 10px;
}
article > ul li{
    list-style-type: '\2714\00a0\00a0';
    list-style-position: inside;
}
aside{
    width: 95%;
    margin: auto;
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
}
aside > h3{
    background-color: var(--cor4);
    color: var(--cor0);
    padding: 5px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
    font-weight: bold;
}

.topicos{
    margin-left: 10px;
    width: auto;
    display: flex;
    align-items: center;
  }
.corpo{
    padding: 1.5rem;
    border: 1px solid var(--cor1);
    border-radius: 5px;
    margin: 0.5rem;
    width: 95%;
    box-shadow: 2px 2px 5px var(--cor1);
}
.questao{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#numQuestao{
    display: block;
    font-size: 1.5rem;
    background: var(--cor4);
    padding: 4px 10px 2px 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px var(--cor1);
}
#pergunta {
    font-size: 1.5rem;
    margin-left: 1rem;
    box-shadow: 2px 2px 5px var(--cor1);
}
.questoes{
    padding: 1.5rem;
    border: 1px solid var(--cor1);
    border-radius: 5px;
    margin: 0.5rem;
    width: 95%;
    box-shadow: 2px 2px 5px var(--cor1);
    
    }
    .questoes ul li {
        display: block;
        margin: 1rem;
        padding: 1rem;
        border-radius: 8px;
    }
    .questoes ul li:hover{
        background: yellowgreen;
        cursor: pointer;
    }
    .bloqueado {
        display: none;
    }
    .bloqueado li:hover{
        display: none;
    }
#instrucoes{
    background: var(--cor5);
    color: var(--cor1);
    padding: 0.625rem;
    border-radius: 8px;
    display: block;
    justify-content: center;
    margin-bottom: 1rem;
    animation: piscar .75s infinite alternate;
}
#aviso{
    color: var(--cor8);
    text-align: center;
    font-size: 1.625rem;

}
@keyframes piscar{
    0% {
        filter: drop-shadow(0 0 15px var);
        -webkit-filter: drop-shadow(0 0 15px var(--cor1));
        -moz-filter: drop-shadow(0 0 15px var(--cor1));
        -o-filter: drop-shadow(0 0 15px var(--cor1));
        -ms-filter:drop-shadow(0 0 15px var(--cor1))
    }
    100% {

    }
}
.animar {
    animation: piscar .75s infinite alternate;
}
.aparecer {
    animation: piscar .5s infinite alternate;
}
@keyframes aparecer{
    0%{
        opacity: 0
    } 100%{
        opacity: 1
    }
}
footer{
    box-sizing: border-box;
    display: flex;
    margin: auto;
    width: 100%;
    height: 28vh;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(to right, var(--cor5), var(--cor1) 50%, var(--cor5));
    overflow: hidden;
    box-shadow: 2px 2px 5px var(--cor1);

}
.social li a {
    border-radius: 50%;
    height: 32px;
    width: 32px;
    display: flex;
    text-indent: -9999px;
}
.social a[href*="facebook.com"] {
    background-image: url(./img/facebook.png);
    }
    .social a[href*="twitter.com"] {
    background-image: url(./img/twitter.png);
    }
    .social a[href*="www.instagram.com"] {
    background-image: url(./img/instagram.png);
    }
    .social a[href*="web.whatsapp.com"] {
        background-image: url(./img/whasApp.png);
    }
.social ul{
    width: auto;
    float: left;
    position: relative;
    margin-top: 2px;
    right: 100px;
    display: contents;

}
footer figure img{
    width: 60px;
    height: 60px;
}
footer  ul{
    font-family: var(--fonte-novo);
    display: flex;
    list-style: none;
    gap: .5rem;
}
#rodape img{
    margin-left: 20px;
    width: 20px;
    height: 20px;
}
#rodape {
    margin-top: 3px;
    float: right;
    margin-top: 1px;
    margin-left: 5px;
    color: var(--cor5);
    font-size: 15px;

}
#rodape{
    font-display: center;
    color: #777;
    padding: 0;
    display: inline-flex;
    align-items: center;
}
form #cabecalho-questinario{
    width: auto;
    display: inline-flex;
    height: auto;
    min-width: 290px;
    margin: 10px 10px;
}
form #cabecalho-questinario input{
    display: block;
    width: 30%;
    height: 30px;
    min-width: 250px;
    margin: 5px auto;
    border-radius: 5px;
    border: 0.2em solid var(--cor5);
}
form #dados input{
    display: inline-flex;
    height: auto;
    width: auto;
    margin: auto;
}
form #dados img{
    margin: 2px;
    display: none;
}
 #dados input, textarea{
    color: var(--cor6);
    text-align: center;
    width: 35rem;
    border-radius: 5px;
    border: 1px solid var(--cor5);
    margin-left: 30px;
    height: 30px;
    padding-left: 10px;
}
#dados .pergunta{
    width: auto;
    border-left: 0px;
    padding-left: 0px;
    margin-left: 0px;

}

label.resposta {
    float: left;
    margin-left: 10px;
    text-align: center;
    font-weight: bold;
    color: var(--cor7);
}
span
.valid{
    display: none;
    color: var(--cor6);
    font-size: bolder;
}
#btn-responder{
    display: block;
    margin: 10px auto;
    height: 30px;
    min-width: 100px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--cor5);
    color: var(--cor1);
    font-size: 15px;
}
#btn-responder:hover{
    opacity: 0.8;
}
header {
    box-sizing: border-box;
    display: flex;
    margin: auto;
    width: 100%;
    height: 110px;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(to bottom, var(--cor5), var(--cor5));
}
#titulo-pg{
    width: 100%;
    margin: 10px 100px;
    font-size: 2.7rem;
    color: var(--cor5);
    font-family: var(--font-cabecalho);
    text-shadow: 2px 2px 0px hsl(108, 68%, 54%);
    font-weight: bolder;
    text-align: center;
}
#logo{
    display: flex;
}
@media ((max-width: 800px)) {
   
    #cabecalho{
        margin-top: -75px;
    }
    #titulo-pg{
        width: 100%;
        margin: 10px 100px;
        font-size: 1.7rem;
        color: var(--cor5);
        font-family: var(--font-cabecalho);
        text-shadow: 2px 2px 0px hsl(108, 68%, 54%);
        font-weight: bolder;
        text-align: center;
    }
    #cultos,#eventos,#localizacao{
        font-size: 12px;
    }
    form #cabecalho-questinario{
        display: block;
    }
    #dados input, textarea{
        color: var(--cor6);
        text-align: center;
        width: 15rem;
        float: right;
        border-radius: 5px;
        border: 1px solid var(--cor5);
        margin-left: 50px;
        height: 30px;
        padding-left: 10px;
    }
    #texto-aureo{
        font-size: 15px;
        margin-top: 5px;
        margin-left: -7px;
        padding-top: 2px;
        padding-right: 5px;
        padding-bottom: 5px;
        width: 65%;
    }
    #vdd-pratica{
        color: var(--cor2);
        font-size: 15px;
        margin-top: 5px;
        margin-left: -7px;
        padding-top: 2px;
        padding-right: 5px;
        padding-bottom: 5px;
        width: 99%;
        height: auto;
        text-align: left;
        border-radius: 30px;
    }
    #ta-vdd-prt {
        display: block;
        margin-left: 5px;
        height: auto;
        text-align: left;
    }
#capa-lic{
    margin-top: -111px;
    margin-right: -5px;
    width: 158px;
    height: 110px;
}
#img-lc{
    margin-top: 5px;
    padding-top: 5px;
    float: right;
    width: 180px;
    height: 120px;
}
#img-ld{
    float: right;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: -1;
    padding-top: 0px;
    width: 170px;
    height: 120px;
}
#hino{
    margin-top: -18px;
    width: 98%;
}
#sinopse-1{
    width: 98%;
}
#sinopse-1 p{
    text-align: center;
}
.corpo{
    margin-top: -97px;
}
.corpo .tema{
    width: auto;
}

#container {
    width: 100%;
}
#detalhe .lateral{
    width: auto;
    height: auto;
}
#container .tema .img{
    margin-top: 2px;
    margin-left: 3px;
    float: left;
    width: 175px;
    height: 110px;
}
#container #img-capa{
    margin-top: 2px;
    margin-left: 3px;
    float: left;
    width: 175px;
    height: 190px;
}
     @media (max-width: 640px) {
    header {
        padding: 0 5%;
        display: block;
        justify-content: space-between;
        align-items: center;
    }
    #titulo{
        display: flex;
        width: 100%;
        margin: auto ;
    }
    #titulo img{
        margin-top: 5px;
        height: 50px;
    }
    #titulo-pg{
        width: 100%;
        margin: 0.8rem;
        font-size: 1rem;
        color: var(--cor5);
        font-family: var(--font-cabecalho);
        text-shadow: 2px 2px 0px hsl(108, 68%, 54%);
        font-weight: bolder;
        text-align: center;
    }
    #tpd{
        color: var(--cor0);
        font-family: var(--fonte-padrao);
        font-weight: bold;
        width: 70%;
        height: auto;
        margin-top: 15px;
        font-size: 15px;
        background: linear-gradient(45deg, var(--cor3) 10%, var(--cor9));
        text-indent: 8px;
        text-align: center;
        margin-bottom: 2px;
        border-radius: 5px;
        

    }
    #detalhe .titulo-lateral{
        margin-top: 702px;
        width: 100%;
    }
    #detalhe .lateral .titulo-lateral{
        color: var(--cor0);
        font-family: var(--fonte-padrao);
        font-weight: bold;
        width: 100%;
        background: linear-gradient(45deg, var(--cor3) 10%, var(--cor9));
        text-indent: 8px;
        text-align: center;
        margin-left: 5px;
        margin-bottom: 2px;
        border-radius: 5px;
    }
#container {
    width: auto;
}
#detalhe .lateral{
    width: auto;
    height: auto;
}
#container .tema .img{
    margin-top: 2px;
    margin-left: 3px;
    float: left;
    width: 175px;
    height: 110px;
}
#container #img-capa{
    margin-top: 2px;
    margin-left: 3px;
    float: left;
    width: 175px;
    height: 190px;
}
#ta-vdd-prt{
    display: flex;
    width: 100%;
}
#vdd-pratica{
    width: 100%;
    margin-left: 5px;
}
#capa{
    float: none;
}
#capa-lic{
    margin-top: 50px;
    margin-right: -2px;
    float: none;
}
#img-ld{
    float: left;
    margin-top: 27px;
    margin-left: -3px;
    margin-right: 5px;
}

#leitura-classe{
    width: 97%;
    margin-top: 2px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
}
#img-lc{
    float: left;
    margin-top: 2px;
    margin-left: 8px;
    margin-right: 5px ;
}
#hino{
    width: 99%;
    margin-left: 5px;
    margin-right: 10px;
}
#plv-chave #plv-chave-txt {
    background: var(--cor2);
    color: var(--cor5);
    border-radius: 5px;
    width: 90%;
}
#numQuestao{
    display: block;
    font-size: 0.80rem;
    margin-top: -99px;
    margin-left: 5px;
    width: auto;
}
#question{
    color: var(--cor1);
}
.option{
    color: var(--cor8);
}
#pergunta {
    font-size: 0.80rem;
    margin-top: -95px;
    width: auto;
    margin-left: 5px;

}
.questoes{
    padding: 1.2rem;
    border-radius: 5px;
    margin-top: -10px;
    margin-left: 5px;
    width: 87%;
  
    
    }
    .questao{
        padding: 1.2rem;
        border-radius: 2px;
        margin-top: -10px;
        margin-left: 5px;
        width: 82vw;
        height: 19vh; 
        }
.corpo{
    padding: 1.5rem;
    width: 74vw;
    height: 19vh; 
    margin-left: -10px;
    font-size: 0.75rem;
    }
}
@media (max-width: 640px) {
    main{
        width: auto;
    }
    #container{
        margin-top: 2rem;
        background: var(--cor5);
    }
    #container #cabecalho h1{
        font-size: 0.9rem;
        width: 99%;
        margin-top: 0.2rem;
    }
    #container #cabecalho h2{
        font-size: 0.8rem;
        width: 99%;
        margin-top: 0.14rem;
        margin-bottom: 10px;
        text-align: center;
    }
    #container #cabecalho h4{
        font-size: 0.7rem;
        width: 99%;
        margin-top: -0.5rem;
        text-align: center;
    }
    .social-menu{
        display: block;
        float: left;
        margin-top: 2rem;
    }
    #capa{
        float: right;
        width: 100px;
        width: 150px;
    }
    #licoes{
        width: 100%;
        font-size: 0.4rem;
        font-style: italic;
    }
    #licoes ul li a {
        width: 100%;
        font-size: 0.8rem;
        font-style: italic;
    }
    #lic-trim h2{
        font-size: 0.8rem;
        margin: auto;
        width: 99%;
    }
    #texto-aureo{
        width: 18rem;
    }
    .tt-topico{
        margin: 3px;
        width: 96%;
    }
    #ta-vdd-prt{
        display: block;
        margin: 0.3rem;
    }
    #vdd-pratica{
        margin: -0.4rem;
    }
    #ta-vdd-prt #capa-lic{
       margin: 3px;
    }
    #ld{
        margin-top: 0.1rem;
    }
    #leitura-diaria{
        width: 100%;
        
    }
    #img-ld{
        margin-top: 0.2rem;
        margin-left: -2px;
    }
    #leitura-diaria ul li{
        font-size: 0.8rem;
    }
    #leitura-diaria ul li strong{
        font-size: 0.8rem;
    }
    .externo{
        font-size: 0.8rem;
    }
    #titulo-licao{
        font-size: 0.6rem;
    }
    .tt-topico{
        font-size: 0.9rem;
    }
    #lc{
        font-size: 0.9rem;
        width: 100%;
    }
    #leitura-classe p{
        font-size: 0.8rem;

    }
    #hino{
        width: 96%;
    }
    #hino p{
        font-size: 0.8rem;
    }
    #topico-1 p{
        font: 0.5rem;
    }
    #topico-1 p strong{
        font-size: 0.8rem;
    }
    #sinopse-1{
        font-size: 0.8rem;
    }
    #quiz-container{
        margin-top: -2rem;
    }
    .buttons{
        padding: 1px;
       font-size: 0.8rem;
    }
    .next{
        font-size: 0.8rem;
        border: solid 1px var(--cor8);
    }
    #quiz-container .questions{
        font-size: 0.6rem;
        width: auto;
        border: solid 1px var(--cor8);
        height: 55vh;
    }
    #quiz-container .option{
        margin-left: -2rem;
        font-size: 1rem;
        width: 138%;
    }
    #quiz-container #stat{
        color: var(--cor5);
        margin-top: 10px;
        font-size: 1.8rem;
        background: var(--cor1);
        border-radius: 2px 5px;
        text-shadow: 1px 1px 3px var(--cor9), 0 0 25px var(--cor1), 0 0 5px var
        
    }
    #plv-chave #plv-chave-txt {
        background: var(--cor2);
        color: var(--cor5);
        border-radius: 5px;
        width: 90%;
    }
    footer{
        height: 3vh;
    }
    footer figure img{
        width: 30px;
        height: 30px; 
    }
    #rodape img{
        display: none;
        } 
    .social #social{
        display: flex;
        margin-left: 160px;
    }  
    footer .social li {
        margin-top: -2px;
        margin-left: 2px;
    }
    footer .social li a  {
        width: 20px;
        height: 20px;
        margin-top: 1.8rem;
        padding: 0.1rem;
    }
    }
}